<div class='card-body'>
    <div class='card-info'>
    <div class='card-describe'>
      <div class="card-word">
        <div class="card-translate ">
          <p class='card-text'><b>{{text}}</b></p>
          <p class='card-text'><b></b> {{translation.text}}</p>
          </div> 
      
      <p class='name-audio'><audio
          src='http:{{soundUrl}}'
          type='audio/mpeg'
          autoplay='autoplay'
          controls
        >
     </p>
     </div>
     
     
      <p class='card-text'><b>/{{transcription}}/</b></p>
      <p class='card-text'><b></b>{{definition.text}}</p>
      <p class='card-text'><b>Example :</b></p>
      {{#each examples}}
        <ul class='card-list'>
          <li class='card-item'>{{text}}</li>
        </ul>
      {{/each}}
    </div>
    {{#each images}}
      <div class='card-image'>
        <img src='http:{{url}}' alt='flag' width='300' />
      </div>
    {{/each}}
  </div>
</div>